<footer class="page-footer purple">
        <div class="container">
          <div class="row">
            <div class="col l5 s12">
              <h5 class="white-text">
                An open source project from 
                <a href="http://liscioapps.com" target="_blank">Liscio Apps</a>
              </h5>
              <p class="grey-text text-lighten-4">
                  Simple apps: work smarter...not harder.
              </p>
              <p class="white-text">
                <a href="https://gitlab.com/liscioapps/ask-jocko/" target="_blank">
                  GitLab Source
                </a>
              </p>
    
    
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Support Jocko</h5>
              <ul>
                <li><a class="white-text" href="#!">Jocko Store</a></li>
                <li><a class="white-text" href="https://support.woundedwarriorproject.org" target="_blank">Wounded Warrior Project</a></li>
                <li><a class="white-text" href="https://www.navysealfoundation.org">Navy Seal Foundation</a></li>
              </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Liscio Apps</h5>
                <ul>
                  <li><a class="white-text" href="#!">listMe.chat</a></li>
                  <li><a class="white-text" href="#!">MusicTeacher.io</a></li>
                </ul>
              </div>
            <div class="col l2 s12">
              <p class="grey-text">
                <p class="white-text">
                  <strong>Support AskJocko</strong>
                </p>
                <small>
                    Buy our team a 
                    <span style="text-decoration: line-through;">coffee</span> 
                    Jocko White Tea <br/>
                </small>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="SLNJDALBYB3AW">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>                    
              </p>

            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="blue-text text-lighten-3" href="http://liscioapps.com">Liscio Apps</a>
          </div>
        </div>
      </footer>
    