<nav class="nav-color" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{site.brand-name}}</a>
    <ul class="right hide-on-med-and-down">
      {% for item in site.data.nav %}
        <li>
          <a href="{{item.href}}" target="{{item.target}}">
            {{item.title}}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      {% for item in site.data.nav %}
        <li>
          <a href="{{item.href}}" target="{{item.target}}">
            {{item.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>