<div class="row">
<form class="col s12">
    <div class="row">
    <div class="input-field col s10 offset-s1 m6 offset-m3 l8 offset-l2">
        <input id="search_box" type="text" class="validate">
        <label for="search_box">Search for advice...</label>
    </div>
    </div>
</form>
</div>

<div class="row">
    <div class="col s10 offset-s1 m6 offset-m3 l8 offset-l2">
        <table class="highlight responsive-table" id="aTable">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for r in site.data.fake %}
                <tr>
                    <td>{{r.question}}</td>
                    <td>{{r.answer}}</td>
                    <td>
                        {% for i in r.tags %}
                        {{i}} |
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>