
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center secondary-text">Ask Jocko</h1>
        <div class="row center">
        <h5 class="header col s12 light">Discipline Equals Freedom {{foo}}</h5>
        </div>
        <div class="row">
            
            <div class="row center">
            <form class="col s12 tweet">
                <div class="input-field col s10 offset-s1 m6 offset-m3 l8 offset-l2">
                    <input id="search_box" type="text" class="validate">
                    <label for="search_box">Search for advice...</label>
                </div>
            </form>
            </div>

             <div class="row tweet" id="target">
                   <ul>
                    {{#each tweets}}
                        <li id="tweet-{{@index}}">
                            <div class="row">
                                <div class="col s1">
                                    <img class="responsive-img" src="images/jocko.png">
                                </div>
                                <div class="col s11">
                                    <h5>{{text}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s1 offset-m2">
                                        <img class="responsive-img" src="images/kid.png">
                                </div>
                                <div class="col s11 m9">
                                    <p>
                                        {{quoted_status.text}}
                                        </p>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
                <div class="tweet__notfound"><p>No matches were found.</p></div>
                </div>
            </div>
        <br><br>

    </div>
</div>
