<h1 class="primary-text">{{title}}</h1>

<ul>
{{#each tweets}}
    <li>
        {{text}}
        <ul>
            <li>
                {{this.quoted_status.text}}
            </li>
        </ul>
    </li>
{{/each}}
</ul>

<br/><br/>

<h1>Great artists steal</h1>
<h1>FAQ</h1>
<div class="tweet">
    <input type="search" value="" placeholder="Type some keywords (e.g. giza, babylon, colossus)" />
    <ul>
        <li id="tweet-1">
            <h2><a href="#tweet-1">Great Pyramid of Giza</a></h2>
            <div>
                <p>The Great Pyramid of Giza <!-- ... --></p>
                <!-- ... -->
            </div>
        </li>
        <li id="tweet-2">
            <h2><a href="#tweet-2">Hanging Gardens of Babylon</a></h2>
            <div>
                <p>The Hanging Gardens of Babylon <!-- ... --></p>
                <!-- ... -->
            </div>
        </li>
        <!-- ... -->
    </ul>
    <div class="tweet__notfound"><p>No matches were found.</p></div>
</div>
