// Inspired by https://material.io/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=546E7A
$primary-color:     #424242;
$pc-light:          #6d6d6d;
$pc-dark:           #1b1b1b;

$secondary-color:   #546e7a;
$sc-light:          #819ca9;
$sc-dark:           #29434e;
$navbar-hover-bg-color: #7e57c2;


@import "materialize";

// Classes
.primary-text {
    color: $pc-dark;
}

.secondary-text {
    color: $sc-dark;
}

.nav-color {
    @extend .grey, .darken-4
}

.icon-block .material-icons {
    font-size: inherit;
}

