  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>{{ page.title }}</title>
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/liscio-material.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="img/favicons/manifest.json">
      <link rel="shortcut icon" href="favicon.ico">
      <meta name="msapplication-TileColor" content="#00a8ff">
      <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
    </head>

    <body>
      <!-- Page Content goes here -->
      {% include header.html %}
        {{content}}
      {% include footer.html %}
    
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="js/init.js"></script>
      <script src="js/app/search.js"></script>
    </body>
  </html>